<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878878860837-dllkau0enlloh3m14jvpov8s92er1f49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878878860837-dllkau0enlloh3m14jvpov8s92er1f49</string>
	<key>API_KEY</key>
	<string>AIzaSyC3TlWEa6to2bDoqUf7UDKYzO_thRfjukQ</string>
	<key>GCM_SENDER_ID</key>
	<string>878878860837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRoomGuide</string>
	<key>PROJECT_ID</key>
	<string>find-room-5c1df</string>
	<key>STORAGE_BUCKET</key>
	<string>find-room-5c1df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878878860837:ios:e0eb54e5fd67886de681cc</string>
</dict>
</plist>